button {
	cursor: pointer;
	outline: none;
}

.pageWrap {
	width: 100%;
	position: relative;
}

.header {
	background: #313636;
	height: 40px;
	width: 100%;
	position: relative;
}

.header.transparency {
	background: transparent;
}

.contentSpace {
	width: 100%;
	max-width: 640px;
	position: relative;
}

.contentSpace .primary {
	min-height: calc(100vh - 40px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileUserPhoto {
	width: 152px;
	height: 152px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	left: calc(100px - 76px);
	top: calc(100px - 76px);
}

.profileUserPhoto:before {
	content: '';
	display: none;
	background-color: #4bc0b8;
	position: absolute;
	width: 152px;
	height: 152px;
	border-radius: 50%;
	top: calc(50% - 76px);
	left: calc(50% - 76px);
	opacity: 0.7;
	animation: blow 1300ms cubic-bezier(.17,.67,.83,.67) infinite;
	z-index: -1;
}

@keyframes blow {
	0%
	{
		
	}
	20%
	{
		opacity: 1;
	}
	50%
	{
		width: 180px;
		height: 180px;
		top: calc(50% - 90px);
		left: calc(50% - 90px);
		opacity: 0.3;
	}
}

.profileUserPhoto:after {
	background-color: #e8bea7;
	position: absolute;
	width: 152px;
	height: 152px;
	border-radius: 50%;
	top: calc(50% - 76px);
	left: calc(50% - 76px);
	opacity: 0.7;
	animation: blow1 2300ms cubic-bezier(.27,.37,.43,.37) infinite;
	z-index: -1;
}

@keyframes blow1 {
	0%
	{
		
	}
	25%
	{
		background-color: #4bc0b8;
		width: 180px;
		height: 180px;
		top: calc(50% - 90px);
		left: calc(50% - 90px);
		opacity: 0.3;
	}
	50% {
		background-color: #e8bea7;
		width: 152px;
		height: 152px;
		top: calc(50% - 76px);
		left: calc(50% - 76px);
		opacity: 0.5;
	}
	75%
	{
		background-color: #4bc0b8;
		width: 180px;
		height: 180px;
		top: calc(50% - 90px);
		left: calc(50% - 90px);
		opacity: 0.7;
	}
	70%
	{
		opacity: 1;
	}
}

.profileInfo {
	position: relative;
	top: 0;
	left: 200px;
	right: 0;
	width: calc(100% - 200px);
}

.pISect {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.pISect:before, .pISect:after {
	content: none;
}

.pISection01 {
	align-items: center;
	padding: 24px 0 8px 0;
}

.pISection02 {
	justify-content: flex-start;
	padding: 4px 0;
}

.sectionValue {
	color: #444;
	width: 280px;
	padding: 0 0 4px 0;
	padding: 0 0 0 0; /*fix*/
}

.phoneCallerOutput {
	background-color: #e1e6ea;
	height: 32px;
	line-height: 32px;
	padding: 0 40px 0 8px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 5px;
	position: relative;
	color: #444;
	font-weight: 600;
}

button.phoneCall {
	background-color: #00da5a;
	background-image: url('icon-phone.png');
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: none;
	border-radius: 5px;
	position: absolute;
	width: 32px;
	height: 32px;
	right: 0;
	top: 0;
}

.profileUsername {
	font-size: 16px;
	font-weight: 700;
}

.notificationFriendly {
	background-color: #f9f9f9;
	color: #444;
	padding: 8px;
	margin: 2px 0;
}

.leftSideboard {
	float: left;
	width: 160px;
	background: #f2f2f2;
}

.buttonSection:first-child {
	margin: 0;
	padding-top: 0;
}

.buttonSection {
	margin: 8px 0 0;
	/*
	border: 1px solid #ccc;
	border-width: 1px 0;
	*/
}

.userAvatarPlace {
	padding: 30px 0 30px;
	position: relative;
}

.userAvatar {
	border-radius: 50%;
	width: 110px;
	height: 110px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}

.userAvatar img {
	border-radius: 50%;
	background: #ccc;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}

.userName {
	text-align: center;
	padding: 8px 32px;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}

.userCounts {
	display: flex;
	justify-content: center;
	align-items: center;
}

.userCounts:before, .userCounts:after {
	display: none;
	content: none;
}

.countU {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	padding-left: 8px;
}

.countU:first-child {
	padding-left: 0;
}

.countU span {
	height: 18px;
	line-height: 18px;
}

span.iconStar {
	display: block;
	background-image: url('../reserves/star-icon-128px.png');
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 0 center;
	padding-left: 18px;
}

span.iconArrow {
	display: block;
	background-image: url('../reserves/arrow-icon-128px.png');
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 0 center;
	padding-left: 18px;
}

span.iconEye {
	display: block;
	background-image: url('../reserves/eye-icon-128px.png');
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 0 center;
	padding-left: 20px;
}

.sectionInfoName {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	white-space: nowrap;
	position: relative;
}

.sectionInfoName a.rightBoardButton {
	display: block;
	background-color: #ff333f;
	color: #fff;
	position: absolute;
	right: 16px;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	height: 22px;
	line-height: 22px;
	padding: 0 4px;
}

.peopleCircleList {
	box-sizing: border-box;
	padding: 4px 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.peopleCircleList:before, .peopleCircleList:after {
	content: none;
}

.userCircle {
	position: relative;
}

.userCircle .userAvatar {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	position: relative;
	margin: 0 auto;
}

.userCircle .userAvatar img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #ccc;
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
}

.circleButton {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	position: relative;
	cursor: pointer;
}

.circleButton:before {
	content: '';
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #f9f9f9;
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	
}

.circleButton span, .circleButton span:before, .circleButton span:after {
	position: absolute;
	top: calc(50% - 3px);
	left: calc(50% - 3px);
	width: 6px;
	height: 6px;
	background-color: #d9d9d9;
	border-radius: 50%;
}

.circleButton span:before {
	content: '';
	left: calc(50% - 3px - 10px);
}

.circleButton span:after {
	content: '';
	left: calc(50% - 3px + 10px);
}

.listButton {
	padding: 0 0 0 16px;
	height: 60px;
	line-height: 60px;
	color: #313636;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: 200ms all ease;
	font-size: 18px;
}

a.listButton {
	display: block;
}

.listButton:hover {
	background-color: #f9f9f9;
}

.listButton:hover:before, .listButton:hover:after {
	position: absolute;
	top: -1px;
	left: 0;
	height: 1px;
	width: 100%;
	background: #ccc;
	box-shadow: 0px 0px 3px #ccc;
	transition: 200ms all ease;
}

.listButton:hover:after {
	top: calc(100% + 0px);
	box-shadow: 0px 0px 3px #ccc;
}

.listButton span.selectTarget {
	position: absolute;
	right: 16px;
	top: calc(50% - 20px);
	background-image: url('../reserves/next-icon-128px.png');
	background-color: rgba(255,255,255,0);
	background-position: center;
	background-size: 100% 100%;
	background-size: 24px;
	background-repeat: no-repeat;
	height: 40px;
	width: 24px;
}

.blueButton {
	background-color: #0070c9;
	background: linear-gradient(to top, #0483d9, #05aad9);
	border-radius: 16px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	text-align: center;
	width: 80px;
	margin: 0 auto;
	margin: 4px auto;
	cursor: pointer;
	font-weight: 700;
	transition: 300ms all linear;
	letter-spacing: 0.5px;
	font-weight: 600;
}

.blueButton:hover {
	background-color: #0070c9;
	background: linear-gradient(to bottom, #0483d9, #05aad9);
	transition: 1000ms all linear;
}

.fullLength {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.32);
	text-transform: uppercase;
}

.footer {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 32px 0;
}

.author_links {
	color: #999;
}

.author_links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
	overflow: hidden;
}

.author_links ul li {
	float: left;
	padding: 0 8px 4px;
}

.copyright_marks {
	color: #999;
	font-size: 16px;
}

.login_form {
	padding: 4px 16px;
	max-width: 100%;
	width: 100vw;
	box-sizing: border-box;
}

.inputPlace {
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 20px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 0 4px;
}

.inputPlace:last-child {
	margin: 0;
}

.inputPlace input[type="text"], .inputPlace input[type="password"] {
	background: transparent;
	background: rgba(0,0,0,0.16);
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	text-align: center;
	font-size: 14px;
}

input {
	font-family: Lato;
}

	
.logo-icon {
	background-image: url('../reserves/logo-icon-128px.png');
	background-color: rgba(255,255,255,0);
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 24px;
	min-width: 24px;
	padding-left: 25px;
	letter-spacing: 1px;
	box-sizing: border-box;
	line-height: 24px;
	font-size: 16px;
	text-transform: lowercase;
}

.big_logo {
		background-image: url('../reserves/logo-icon-128px.png');
		background-color: rgba(255,255,255,0);
		background-position: center;
		background-size: 100% 100%;
		background-size: 64px;
		background-repeat: no-repeat;
		height: 64px;
		width: 64px;
		position: absolute;
		top: 10vh;
		left: calc(50% - 32px);
		border: 2px solid #f9f9f9;
		border-radius: 50%;
}

.big_logo:after {
	content: 'Summer Summer';
	position: absolute;
	bottom: -30px;
	left: calc(50% - 100px);
	width: 200px;
	max-width: 200px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	white-space: nowrap;
	color: #fff;
}

.hiddenFrame {
	width:0px;
	height:0px;
	border:0px;
}

.fakeFile {
	position: relative;
	width: 100%;
	background: #4f63ff;
	color: #fff;
	border: none;
	border-radius: 20px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'SanFranciscoDisplay';
	font-weight: 700;
	font-size: 10px;
	box-sizing: border-box;
	box-shadow: none;
	letter-spacing: -.002em;
	transition: 300ms ease all;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fakeFile input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	min-width: 100%;
}

.promo_text {
	width: 100%;
	max-width: calc(100%);
	box-sizing: border-box;
	color: #fff;
	font-size: 15px;
	text-align: center;
	line-height: 24px;
	padding: 8px 24px 0;
	
	font-size: 16px;
	letter-spacing: .02em;
	line-height: 1.4446;
}

.promo_text:first-child {
/*	padding: 0;*/
}

.HiddenPlace {
	max-height: 0vh;
	overflow: hidden;
	transition: 200ms ease all;
	opacity: 0;
}

.HiddenPlace.Show {
	max-height: 100vh;
	max-height: min-content;
	opacity: 1;
}

.BottomPopupWindow {
	position: fixed;
	bottom: -80vh;
	right: 0;
	left: 0;
	height: 80vh;
	background-color: #fff;
	transition: 100ms linear all;
	z-index: 20;
}

.BottomPopupWindow.Opened {
	bottom: 0;
}

.BottomPopupWindow .PopupBody {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: overlay;
}

.BottomPopupWindow .PopupBody.Loading {
	
}

.BottomPopupWindow .PopupBody:before, .BottomPopupWindow .PopupBody:after {
	content: '';
	position: absolute;
	transition: 300ms linear all;
	transition-delay: 0s;
	border-radius: 50%;
}

.BottomPopupWindow .PopupBody:before {
	visibility: collapse;
	border: 3px solid #fff;
	height: 50px;
	width: 50px;
	left: calc(50% - 25px);
	top: calc(50% - 25px);
	box-sizing: border-box;
}

.BottomPopupWindow .PopupBody:after {
	visibility: collapse;
	height: 18px;
	width: 18px;
	left: calc(50% - 9px);
	top: calc(50% - 9px);
	background-color: #fff;
	animation: OrbitaLoopBigger 600ms linear infinite;
}

.BottomPopupWindow .PopupBody.Loading:before {
	visibility: visible;
	border-color: #4f63ff;
}

.BottomPopupWindow .PopupBody.Loading:after {
	visibility: visible;
	background-color: #4f63ff;
}

.PopupHeader {
	font-size: 22px;
    font-weight: 700;
    text-align: left;
	width: 100%;
    padding: 20px 16px 0;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes OrbitaLoopBigger {
    from { transform: rotate(180deg)  translateX(22px); }
    to   { transform: rotate(540deg)  translateX(22px); }
}

.stImg {
	width: 50px;
	height: 50px;
}

.userInfoCompact {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.userFullname {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	width: 100%;
	padding: 8px 16px 0;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.userInfoCompact .userFullname {
	font-size: 24px;
	font-weight: 700;
	text-align: left;
}

.userInfoCompact .userPhoto-Small {
	padding: 20px 16px 0;
}

.userPhoto-Small img {
	display: block;
	border-radius: 50%;
}

.userInfoCompact .userGroup {
	color: #4f63ff;
	font-size: 17px;
	padding: 4px 16px 0;
}

.userRatingInfo {
	padding: 20px 16px 0;
	box-sizing: border-box;
	width:100%;
}

.userRatingInfo .userCounts.bigger {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.userCounts.bigger .countU {
	font-size: 22px;
	padding: 0;
}

.userCounts.bigger .countU span {
	padding-top: 58px;
	line-height: 100%;
	height: auto;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center 0px;
	min-width: 50px;
    padding-left: 0px;
	text-align: center;
}
	
.userStudyTimings {
	padding: 15px 16px 0;
	font-weight: 400;
	font-size: 16px;
	color: #313636;
}
	
.userStudyTimings b {
	color: #4f63ff;
}

.relationStates {
	color: #313636;
	font-size: 18px;
	padding: 30px 16px 0;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.ugtidonLogo-n-Text {
	height: 28px;
	line-height: 28px;
	display: inline-block;
	background-image: url('../res/ui/cc_logo.png');
	background-image: url('../res/ui/logo-128.png');
	background-image: url('../res/ui/redpanda_192x192.png');
	background-repeat: no-repeat;
	background-size: 28px 28px;
	padding-left: 32px;
	font-weight: 700;
}

.Logo-n-Text {
	width: 140px;
	height: 28px;
	line-height: 26px;
	display: inline-block;
	background-image: url('../res/ui/logo-n-text-140x28.png');
	background-repeat: no-repeat;
	background-size: 140px 28px;
	color: transparent;
}

.MainPageWindow {
	width: 100%;
	min-height: calc(100vh - 40px);
}

.MainHeader {
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	width: 100%;
	padding: 8px 16px 0;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
		
}

.postsListing {
	min-height: calc(100vh - 40px);
}

.postBorderBody {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 16px 0;
}

.postSecondWrapper {
	background-color: #fff;
	border-radius: 16pt;
	border-radius: 25px;
	overflow: hidden;
}

.postImageContainer {
	overflow: hidden;
}

.postImageContainer img {
	display: block;
	width: 100%;
	height: auto;
}

.postContent {
	padding: 8px;
	font-size: 16px;
	letter-spacing: .02em;
	line-height: 1.4446;
}

.postInfo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
	padding: 0 8px 8px;
}

.postPosterBlock {
	padding: 0 16px 0 0;
}

.postPosterBlock .studentAvatar img {
	border-radius: 25px !important;
}

.postHeader {
	font-size: 16px;
	font-weight: 400;
	max-height: 50px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.postPosterNames {
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 15px;
}

.postTiming {
	color: #999;
	font-size: 15px;
}

.simpleControls {
	background-color: #313636;
	width: 100%;
	max-width: calc(100vh - 32px);
	padding: 16px 0;
}

.TabsSolution {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.TabsSolution .newTab {
	color: #000;
	font-size: 16px;
	text-align: center;
	padding: 8px 0;
	box-sizing: border-box;
}

.TabsSolution .newTab.inDark {
	color: #fff;
}

.ShopItem {
	width: 153px;
	height: 175px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: contain;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,0.08), 0 0 10px rgba(0,0,0,0.04);
	position: relative;
}

.ShopItem .newGoodMarker {
	background-color: #ff333f;
	color: #fff;
	position: absolute;
	top: 8px;
	right: 8px;
	border-radius: 4px;
	height: 22px;
	line-height: 22px;
	padding: 0 4px;
	font-size: 16px;
	text-transform: lowercase;
	letter-spacing: .02em;
	font-weight: 700;
}

.ShopItem.TodaysMain {
	height: 175px;
	border-radius: 20px;
}

.ShopItemCat {
	text-align: center;
	white-space: nowrap;
	color: #e83587;
	font-size: 13px;
	margin-top: 16px;
}

.ShopItemName {
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 100%;
	box-sizing: border-box;
	padding: 0 8px;
	line-height: 24px;
	min-height: 48px;
	max-height: 48px;
	letter-spacing: -.021em;
	white-space: normal;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ShopItemName .__fixer {
	
}

.ShopItemCost {
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	margin-top: 16px;
	white-space: nowrap;
}

.ShopItemBottomSpace {
	height: 48px;
}

.HighResOnly {
	visibility: collapse;
	display: none;
}

/* Laptops */
@media (min-width: 992px) {

	.contentSpace .primary {
		min-height: auto;
		display: block;
	}
	.HighResOnly {
		visibility: visible;
		display: block;
	}
	
	.MainHeader {padding-left: 8px;}

	.smPads {
		padding: 16px 0 0 8px;
	}
	
	.ShopItem {
		cursor: pointer;
	}
	
	.ShopItem:hover .ShopItemName {
		transition: 200ms linear all;
		color: #4f63ff;
	}
	
	.itemList {
		padding: 16px 0 0 8px;
	}
	
	.ShopItem.atListing {
		float: left;
		background-position: center 48px;
		background-size: 153px 175px;
		width: 254px;
		min-height: 175px;
		height: auto;
		margin-right: 15px;
		margin-bottom: 15px;
		padding-top: calc(175px + 48px);
	}
	
	.ShopItem.atListing .ShopItemName {
		margin-top: 16px;
	}
	
	.ShopItemName {
	}
	
	.ShopItem.atListing:nth-child(3n) {
		margin-right: 0;
	}

	.ShopItem.TodaysMain {
		width: 100%;
		padding-left: calc(153px + 16px);
		background-position: left center;
	}

	.TodaysMain .ShopItemName {
		text-align: left;
		font-size: 24px;
		padding: 0 24px 0 0;
		line-height: 32px;
		min-height: 32px;
		max-height: 64px;
	}

	.sidebarHelper {
		visibility: collapse;
		display: none;
	}

	.pageWrap {
		/*
		max-width: calc(160px + 800px);
		margin: 0 auto;
		*/
		padding: 48px 0 0;
		display: flex;
		justify-content: center;
		align-items: stretch;
	}
	
	.leftSideboard {
		clear: left;
	}

	.header {
		background-color: #fff;
		width: 100%;
		position: absolute;
		top: 0;
		height: 48px;
	}

	.header.transparency {
		background-color: #333;
	}

	.header .pda_header {
		height: 100%;
		max-width: calc(160px + 800px);
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.logo-icon {
		font-weight: 700;
		font-size: 18px;
	}

	.header.transparency .logo-icon {
		color: #fff;
	}
	
	.headerPhone {
		position: absolute;
		right: 0;
		color: #fff;
		font-size: 16px;
		padding-left: 20px;
		background-image: url('../res/ui/phone-receiver.svg');
		background-size: 16px 16px;
		background-repeat: no-repeat;
		background-position: left center;
	}

	.contentSpace {
		max-width: 100%;
	}

	.userName {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding-left: 16px;
		padding-right: 16px;
	}

	a.listButton {
		height: 24px;
		line-height: 24px;
		transition: 100ms all ease;
		font-size: 14px;
	}

	a.listButton:hover {
		background: none;
		color: #4f63ff;
	}
}

/* PC */
@media (min-width: 1200px) {
	body {
		user-select: auto;
	}
}