AddDefaultCharset utf-8

<Files *.php>
	Order Deny,Allow
	Deny from all
#	Allow from 127.0.0.1
</Files>

<FilesMatch "(?i)((\.tpl|\.html|\.ini|\.log|(?<!robots)\.txt))">
	Order Deny,Allow
	Deny from all
</FilesMatch>

<Files ~ "(index|r)\.(ph?p)$">
	Order Allow,Deny
	Allow from all
</Files>

RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^get/(.*)$ r.php?r=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?!.*mypanel|public)([^/\.]+)\/(.*)$ index.php?p=$1&augmentation=$2 [L,QSA]

RewriteRule ^(app_config\.ini) - [F,L,NC]