:root {
	--brandColor: #4ba4ff;
}

html {background-color: #fff;}
body {min-height: 100vh; max-height: 100%; font-family: -apple-system, SanFranciscoDisplay, Roboto, sans-serif; overflow-x: hidden;}

body.grey {background-color: #f2f2f2;}

.PanelPageWrap {
	
}
	
.PanelSidebarNav {display: none;}

.uip-WindowSpace {
	width: 100%;
	max-width: 768px;
}

.uip-TopPart {
	background-color: #313636;
	background-color: #f2f2f2;
	color: #444;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uip-TopPart > .uip-ScreenName {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -.02em;
	white-space: nowrap;
	text-align: center;
}

.uip-Background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 44px);
}

.uip-AppsList {
	height: 100vw;
	max-height: 736px;
	box-sizing: border-box;
/*	padding-top: 32px;
	padding-top: calc((100vw - (64px * 4)) / 5);*/
}

.uip-AppsList h1 {
	line-height: 1;
	height: 0;
	font-size: 16px;
	font-weight: 600;
	display: block;
	margin-left: -32px;
	overflow: visible;
}

.uip-AppsRow {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	padding-top: calc((100vw - (64px * 4)) / 5);
}

.uip-AppShortcut {
	position: relative;
	width: 64px;
	padding-bottom: 36px;
}

.uip-AppShortcut.disabled {opacity: 0.5;}

.uip-AppIcon {
	background-image: url('/./res/ui/no-photo-lighter.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #fff;
	width: 64px;
	height: 64px;
	border-radius: 6pt;
	border-radius: 8px;
}

.uip-AppName {
	font-size: 13px;
	letter-spacing: -.02em;
	padding: 2px 0;
	line-height: 16px;
	max-height: 28px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #fff;
	position: absolute;
	width: 24vw;
	left: calc(50% - 12vw);
	top: 64px;
}

.PageHeader {
	padding: 32px 16px 16px 16px;
}

.KV-Table {
	margin-top: 16px;
	background-color: #fff;
	border-bottom: 1px solid var(--grey-bg);
}

.KV-Step {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -.02em;
	border-top: 1px solid var(--grey-bg);
}

.KV-Step > .KV-Row {
	padding: 8px;
	color: #333;
	line-height: 1.2;
	font-size: 17px;
}

.KV-Row:first-child {
	color: #a5a5a5;
	text-overflow: ellipsis;
	overflow: hidden;
}

.KV-Row:nth-child(2) {
	padding-left: 0;
	white-space: nowrap;
}

a .KV-Step .KV-Row:only-child {
	box-sizing: border-box;
	padding-right: 24px;
	flex: 1;
	color: #333;
	white-space: nowrap;
	position: relative;
	background-image: url('/./res/ui/shadowed-arrow-right.png');
	background-size: 7px 13px;
	background-repeat: no-repeat;
	background-position: calc(100% - 8px) center;
	transition: 200ms background linear;
}

a:hover .KV-Step .KV-Row:only-child {
	background-color: #e1e1e1;
}

@media screen and (min-width: 414px) {
	.uip-WindowSpace {margin: 0 auto;}


	.uip-AppShortcut {padding-bottom: 32px;}
	.uip-AppName {
		letter-spacing: -.002em;
		width: calc(414px / 4);
		left: calc(50% - (414px / 8));
		line-height: 16px;
		max-height: 32px;
		padding: 6px 0;
	}
}

.uip-Sidebars {
	width: 100%;
	max-width: 414px;
}

.ui-mypanel-mapper {
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8px;
}

.ui-mypanel-link.red-sense, .ui-mypanel-a.red-sense {
	color: #cc3333;
}

.ui-mypanel-link, .ui-mypanel-a {
	display: inline-block;
	color: var(--brandColor);
	background: none;
	letter-spacing: -.01em;
	font-size: 18px;
	font-weight: 400;
	text-transform: initial;
	text-decoration: underline;
	padding: 0 14px 0 0;
	overflow: visible !important;
	position: relative;
}

.ui-mypanel-link.flag-back {padding: 0 0 0 14px;}

.ui-mypanel-link:before, .ui-mypanel-link:after {
	content: '';
	position: absolute;
	right: 4px;
	bottom: 10px;
	background: var(--brandColor);
	height: 2px;
	width: 6px;
	transform: rotate(50deg);
}
.ui-mypanel-link:after {
	transform: rotate(-50deg);
	bottom: 6px;
}
.ui-mypanel-link.flag-back:before, .ui-mypanel-link.flag-back:after {
	right: unset;
	left: 4px;
	transform: rotate(-50deg);
}
.ui-mypanel-link.flag-back:after {transform: rotate(50deg);}



.data-box-field {
	background-color: #fff;
	border: 1px solid var(--grey-bg);
	border-width: 1px 0;
	position: relative;
	box-sizing: border-box;
}

.data-box-field + .data-box-field {
	border-top: none;
}

.data-box-field .data-box-value {
	font-size: 100%;
	font-weight: 400;
	line-height: 38px;
	color: #444;
	white-space: nowrap;
	padding: 0 16px;
}

.data-box-field .input-placeholder {
	pointer-events: none;
	user-select: none;
	font-size: 100%;
	font-weight: 600;
	position: absolute;
	left: 16px;
	top: 0;
	line-height: 38px;
	color: #444;
}

.data-box-field a, .ui-mypanel-a {
	display: block;
	font-size: 100%;
	font-weight: 400;
	text-decoration: none;
	padding: 0 16px;
	position: relative;
	line-height: 38px;
	white-space: nowrap;
}

.ui-mypanel-a {padding: 0;}

.data-box-field a:before {right: 16px; bottom: calc(50% + 2px);}
.data-box-field a:after {right: 16px; bottom: calc(50% - 2px);}

.data-box-field input[type="text"] {
	line-height: 38px;
	height: 38px;
	border: none;
	max-width: 100%;
	padding: 0 16px 0 40%;
	font-size: 100%;
	font-family: 'SanFranciscoText', 'SanFranciscoDisplay';
	font-weight: 400;
	letter-spacing: -.02em;
	text-align: right;
}

.data-box-field input[type="text"]:focus {background-color: #f2f2f2;}

.data-box-field textarea {
	border: none;
	line-height: 24px;
	padding: 7px 16px;
	font-family: 'SanFranciscoText', 'SanFranciscoDisplay';
	letter-spacing: -.02em;
}

.data-box-field input[type="checkbox"] {
	position: absolute;
	right: 16px;
	top: calc(50% - 12px);
}

.field-space {
	height: 32px;
	background-color: #fff;
}

.data-box-explanation {
	font-size: 87.5%;
	color: #999;
	padding: 8px 16px;
	line-height: 1.25;
	margin-bottom: 16px;
}
.data-box-explanation.lane {
	padding-left: 0;
	padding-right: 0;
}

.data-box-product-info {
	padding: 8px 16px;
	background-color: #fff;
	border: 1px solid var(--grey-bg);
	border-width: 1px 0;
}

.data-box-product-info + .data-box-product-info, .data-box-product-info + .data-box-field, .data-box-field + .data-box-product-info {
	border-top: none;
}

.data-box-product-info .product-info-title {
	font-size: 100%;
	font-family: SanFranciscoText;
	letter-spacing: -.01em;
	line-height: 1.125;
}

.data-box-product-info .product-info-numbers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-info-quantity {
	font-weight: 700;
	border-radius: 4px;
	line-height: 24px;
	padding: 0 0 0 20px;
	position: relative;
}

.product-info-quantity:before {
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 4px;
	background-image: url('/res/ui/box_icon.png');
	background-position: 0 center;
	background-size: 16px;
	background-repeat: no-repeat;
	border-radius: 4px;
}

.product-info-cost {
	background-color: var(--brandColor);
	color: #fff;
	font-weight: 700;
	border-radius: 4px;
	line-height: 24px;
	padding: 0 4px;
}

.data-box-textareas {
	padding: 0 16px;
}
.data-box-textareas .data-box-key {
	margin: 8px 0;
	line-height: 150%;
	font-size: 100%;
}
.data-box-textareas .data-box-textbox {
	margin: 8px 0;
}

.items-listing {
	background-color: var(--grey-bg);
	padding: 1px 0;
}

.items-listing .empty-list {
	background-color: #fff;
	line-height: 40px;
	padding: 0 16px;
	color: rgba(0,0,0,0.5);
}

.items-listing .listing-item {
	background-color: #fff;
	margin: 1px 0;
}

.items-listing .listing-item:first-child {
	margin-top: 0;
}

.items-listing .listing-item:last-child {
	margin-bottom: 0;
}

.items-listing .listing-item .item-link {
	line-height: 40px;
	font-size: 16px;
}

.item-link.naturalize {
	padding: 0 16px;
}

.listing-item .user-item {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px;
	font-size: 16px;
}

.user-item .user-photo {
	height: 40px;
	width: 40px;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
}

.listing-item .any-id-item .item-id {
	line-height: 40px;
	background-color: #f5f3f8;
	width: 40px;
	text-align: center;
	font-size: 16px;
	overflow: hidden;
}

.banks-listing {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.banks-listing .bank-item {
	padding: 8px;
}

.bank-cover {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	padding-bottom: 100%;
}

@media screen and (min-width: 768px) {
	.ui-mypanel-link, .ui-mypanel-a {
		transition: 100ms ease all;
	}
	.ui-mypanel-link.red-sense:hover, .ui-mypanel-a.red-sense:hover {color: #cc3333;}
	.ui-mypanel-link:hover, .ui-mypanel-a:hover {
		color: var(--brandColor);
		background-color: #f2f2f2;
		transition: 300ms linear all;
	}
	.ui-mypanel-link:active, .ui-mypanel-a:active {
		color: #444;
		background-color: #ccc;
		transition: 500ms ease all;
	}
	
	.data-box-choose-file {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 16px;
	}
	
	.data-box-choose-photo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4px 16px;
	}
	
	.data-box-choose-photo .data-thumbnail-preview {
		width: 100px;
		height: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.data-box-choose-photo .data-thumbnail-preview img {
		display: block;
		max-width: 100px;
		max-height: 100px;
	}
	
	.data-box-textareas {
		box-sizing: border-box;
		padding: 8px;
		width: 100%;
		display: flex;
		
	}
	.data-box-textareas .data-box-key {
		margin: 0 8px;
		flex: 2;
		padding: 4px 0;
	}
	.data-box-textareas .data-box-textbox {
		margin: 0 8px;
		flex: 3;
	}
	
	.uip-WindowSpace {
		width: 100%;
		max-width: 100%;
	}


	.uip-Background {
		background-image: radial-gradient(circle farthest-corner at 50% 100%, #212121, #28333f) !important;
		background-color: #28333f;
	}

	.uip-AppsList {
		height: auto;
		display: block;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.uip-AppsRow {
		display: block;
		flex: 1;
		justify-content: space-around;
		min-width: 50vw;
		padding-top: 0;
	}

	.uip-Sidebars {
		background-color: #f2f2f2;
		border-right: 1px solid var(--grey-bg);
	}
}

@media screen and (min-width: 992px) {
	.uip-Background {
		background: none !important;
	}
	
	.uip-AppShortcut {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		padding-bottom: 0;
		width: auto;
		margin-bottom: 16px;
	}
	
	.uip-AppIcon {
		box-shadow: 0 1px 6px 2px rgba(0,0,0,0.1);
		width: 48px;
		height: 48px;
		margin-right: 16px;
	}
	
	.uip-AppName {
		box-sizing: border-box;
		line-height: 24px;
		min-height: 24px;
		max-height: 48px;
		padding: 0;
		font-size: 87.5%;
		color: #666;
		position: static;
		text-align: left;
	}
	
	.PanelPageWrap {
		display: flex;
		flex-direction: row;
		min-height: 100vh;
		max-height: 100%;
	}
	
	.PanelSidebarNav {
		display: block;
		background-color: #f8f8f8;
		color: #444;
		width: 320px;
		font-family: SanFranciscoDisplay, SanFranciscoText, Roboto, sans-serif;
	}
	
	.LogoSpace {
		padding: 24px 0 0 32px;
		margin-bottom: 64px;
	}
	
	.SanityLogo {
		background-image: url('/res/ui/app-logo-solid-dark.png');
		background-size: cover;
		background-position: center;
		width: 24px;
		height: 32px;
	}
	
	.SanityVersion {
		font-size: 75%;
		line-height: 24px;
		text-align: left;
		padding-left: 32px;
		color: #999;
	}
	
	.CompanyLogo {
		background-image: url('/res/ui/company-logo.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		height: 24px;
		margin: 10px 0;
	}
	
	.uip-TopPart {display: none;}
	
	.PageContent {
		background-color: #f8f8f8;
		display: flex;
		padding: 16px 16px 64px 48px;
		box-sizing: border-box;
		min-height: 100vh;
	}
	
	.PageContent .ContentLayout {
		width: 100%;
		max-width: 720px;
	}
	
	.PageContent .ContentLayout .PageHeader {
		padding-top: 16px;
	}
	
	.PageContent .ContentLayout .WhiteBlock {
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 2px 8px rgba(65,90,120,0.12);
		box-shadow: 0 1px 6px 2px rgba(0,0,0,0.1);
	}
	
	.PageContent .ContentLayout .WhiteBlock + .PageHeader, .PageContent .ContentLayout .WhiteBlock + .WhiteBlock {
		margin-top: 16px;
	}
	
	.PageContent .ContentLayout .WhiteBlock.VerticalSpaces {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	.PageContent .ContentLayout .WhiteBlock.VerticalSpaces .field-space:last-child {
		display: none;
	}
	
	.uip-AppsRow {
		flex: 1;
		justify-content: space-around;
		min-width: 33vw;
	}
	
	.PanelUI-Menu {
		margin-bottom: 64px;
	}
	
	nav.PanelUI-Navigation {
		
	}
	
	nav.PanelUI-Navigation a {
		box-sizing: border-box;
		padding-left: 32px;
		display: block;
		font-size: 75%;
		font-weight: 600;
		line-height: 24px;
		letter-spacing: .02em;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	
	nav.PanelUI-Navigation a.selected {
		background-color: #f2f2f2;
		color: var(--brandColor);
	}
}